
@import 'about.responsive.scss';

:host {
	position: relative;
	display: block;
	width: 100%;
}

section {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 96px 0 0 0;
	box-sizing: border-box;
	background-attachment: fixed;
	background:
		url('../../assets/about-bg-mobile.webp')
		no-repeat center
		-40px /cover;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-image:
			linear-gradient(to top, rgba(36, 63, 125, 0.7) 30%, transparent),
			linear-gradient(to left, #fff 15%, transparent 80%),
			linear-gradient(to right, #fff 0%, transparent 30%);
	}

	.about-layout {
		position: relative;
		padding: 32px;
		margin: 100% 0 16px 0;
		box-sizing: border-box;
		border-radius: 8px;
		background-color: rgba(255, 255, 255, 0.8);
		box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.2);
		color: #233f7dff;
		font-family: ubuntu;

		.heading {
			font-size: 20px;
			font-weight: bold;
		}
	
		.content {
			padding: 16px 0 0 0;
			box-sizing: border-box;

			br {
				line-height: 2;
			}
		}
	}
}

.jp2 :host-context section {
	background:
		url('../../assets/about-bg-mobile.jpg')
		no-repeat center
		-40px /cover;
}
