
<section [@enter]="isReady" [style.backgroundImage]="'url(' + background + ')'">
  <div class="container">
    <div class="about-layout">

      <div class="heading">Hakkımızda</div>
  
      <div class="content">
          İyi müşteri ilişkileri firmamızın önceliğidir.
          <br/>
          Müşteriler ile empati oluşturarak problem çözücü, teknik servis ağırlıklı yaklaşım ve özel ürünler, ideal çözüm ortağı olmamızı sağlamaktadır.
          <br/>
          Kaliteye ulaşmak için tutulan yüksek hedefler insan gücünün kaliteli ve motivasyonlu olmasını sağlamaktadır.
          <br/>
          Bir çözüm ortağı olarak teknik ekibimiz ve satış satış pazarlama ekibimiz her an servis verebilecek şekilde organize olmuştur.
      </div>

    </div>
  </div>
</section>

<img [src]="background" (load)="isLoaded = true">
