
<section [@enter]="isReady">
  <div class="container">
    <div class="about-layout">

      <div class="heading">Hakkımızda</div>
  
      <div class="content">
          İyi müşteri ilişkileri firmamızın önceliğidir.
          <br/>
          Müşteriler ile empati oluşturarak problem çözücü, teknik servis ağırlıklı yaklaşım ve özel ürünler, ideal çözüm ortağı olmamızı sağlamaktadır.
          <br/>
          Kaliteye ulaşmak için tutulan yüksek hedefler insan gücünün kaliteli ve motivasyonlu olmasını sağlamaktadır.
          <br/>
          Bir çözüm ortağı olarak teknik ekibimiz ve satış satış pazarlama ekibimiz her an servis verebilecek şekilde organize olmuştur.
      </div>

    </div>
  </div>
</section>

<picture>
  <source [srcset]="background + '.webp'" type="image/webp" media="(min-width: 768px)">
  <source [srcset]="background + '.jp2'"  type="image/jp2"  media="(min-width: 768px)">
  <source [srcset]="background + '-mobile.webp'" type="image/webp">
  <img [src]="background + '-mobile.jpg'" (load)="isLoaded = true">
</picture>
