
:host{
	display: block;
}

.image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.acar-webp :host-context .image {
	background-image: url('../../../assets/acar-carousel/colors-mobile-1x.webp');
}

.acar-no-webp :host-context .image {
	background-image: url('../../../assets/acar-carousel/colors-mobile-1x.jpg');
}

@media (min-resolution: 2dppx),
(-webkit-min-device-pixel-ratio: 2)
{
	.acar-no-webp :host-context .image {
		background-image: url('../../assets/acar-carousel/colors-mobile-2x.jpg');
	}
	
	.acar-webp :host-context .image {
		background-image: url('../../assets/acar-carousel/colors-mobile-2x.webp');
	}
}
