
<section [@enter]="animateOrWhat">

  <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    (mapReady)="loaded = true">
  
    <agm-marker
      [latitude]="marker.lat"
      [longitude]="marker.lng">
    </agm-marker>
  </agm-map>

  <div class="container">
    <div
      class="info-box-layout"
      (click)="toggleInfo()"
      [class.informed]="informed && isMobile">
      <div class="info-box">

        <div class="heading">İletişim</div>

        <div class="hard-centered">

          <div class="contact-item">
            <div class="contact-item__icon phone"></div>
            <div class="contact-item__content">
              <div>(0224) 714 95 96</div>
              <div>(0224) 714 91 92</div>
              <div>(0224) 719 27 48</div>
            </div>
          </div>
  
          <div class="contact-item">
            <div class="contact-item__icon location"></div>
            <div class="contact-item__content">
              Sinanbey Mahallesi,<br/>
              Metal İşleri Sanayi Sitesi,<br/>
              18.Sokak, No: 1,<br/><br/>
              İnegöl/Bursa<br/>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>

</section>
