
@import 'contact.responsive.scss';

:host {
	position: relative;
	display: block;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

section {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 80px 0 0;
	box-sizing: border-box;

	agm-map {
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
	
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 150px;
			z-index: 1;
			box-shadow: 0 110px 60px -10px #fff inset;
		}
	}
	
	.info-box-layout {
		position: relative;
		top: 70%;
		display: flex;
		justify-content: center;

		.info-box {
			position: relative;
			min-width: 340px;
			z-index: 0;
			display: flex;
			flex: 1 0 auto;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 64px 0;
			box-sizing: border-box;
			font-family: ubuntu;
			font-size: 14px;
			color: #fff;

			&::before {
				content: '';
				position: absolute;
				z-index: -1;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background-color: rgba(0, 0, 0, 0.3);
				filter: blur(16px);
			}

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				width: 100%;
				height: 100%;
				mask:
					url('../../assets/acar-icons/hex.svg')
					no-repeat
					center 0/100%;
				background-color: #233f7dff;
			}

			.heading {
				font-size: 40px;
				margin: 16px 0;
				font-weight: bold;
				text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
			}

			.contact-item {
				display: flex;
				margin: 16px 0;
				line-height: 1.4;

				.contact-item__icon {
					width: 24px;
					height: 24px;
					margin: 0 16px 0 0;
					background-color: #fff;
					mask: no-repeat center/cover;

					&.phone {
						mask-image: url('../../assets/acar-icons/phone.svg');
					}
					&.location {
						mask-image: url('../../assets/acar-icons/location.svg');
					}
				}
			}
		}
	}
}
