
@import 'contact.responsive.scss';

:host {
	position: relative;
	display: block;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

section {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 80px 0 0;
	box-sizing: border-box;

	#map-container {
		position: fixed;
    top:0;
		width: 100%;
		height: 100%;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 150px;
			z-index: 1;
			box-shadow: 0 110px 60px -20px #fff inset;
		}
	}

	.info-box-layout {
		position: relative;
		top: calc(100vh - 140px);
		display: flex;
		justify-content: center;
		transition: all 0.6s ease;

		&.informed {
			transform: translateY(-90%);

			.info-box {
				transform: unset;

				.heading {
					color: transparent;

					&::before,
					&::after {
						opacity: 1;
					}

					&::after {
						transform: rotateZ(15deg);
					}
				}
			}
		}

		.info-box {
			position: relative;
			min-width: 340px;
			transform: rotateZ(-30deg);
			transition:
				transform 0.6s ease,
				filter 0.6s ease;
			z-index: 0;
			display: flex;
			flex: 1 0 auto;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 64px 0;
			box-sizing: border-box;
			font-family: ubuntu;
			font-size: 14px;
			color: #fff;

			&::before {
				content: '';
				position: absolute;
				z-index: -1;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background-image:
					radial-gradient(200px, #000 40%, transparent);
				filter: blur(16px);
			}

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				width: 100%;
				height: 100%;
				mask:
					url('../../assets/acar-icons/hex.svg')
					no-repeat
					center/contain;
				background-color: rgba(35, 63, 125, 0.8);
			}

			.heading {
				position: absolute;
				top: 50px;
				left: 60px;
				width: 100%;
				transform: rotateZ(30deg);
				text-align: center;
				font-size: 16px;
				font-weight: bold;
				transition: color 0.6s ease;

				&::before,
				&::after {
					content: '';
					position: absolute;
					top: -70px;
					left: calc(50% - 12px);
					width: 24px;
					height: 24px;
					opacity: 0;
				}

				&::before {
					border-radius: 50%;
					background-color: rgba(35, 63, 125, 0.8);
					box-shadow: 0 0 80px 10px rgba(0, 0, 0, 0.6);
					transition: opacity 0.6s ease;
					padding: 8px;
					margin: -8px 0 0 -8px;
				}

				&::after {
					mask:
						url(../../assets/acar-icons/add.svg)
						no-repeat
						center/cover;
					background-color: #fff;
					transition:
						opacity 0.6s ease,
						transform 0.6s ease;
				}
			}

			.contact-item {
				display: flex;
				margin: 16px 0;
				line-height: 1.4;

				.contact-item__icon {
					width: 24px;
					height: 24px;
					margin: 0 16px 0 0;
					background-color: #fff;
					mask: no-repeat center/cover;

					&.phone {
						mask-image: url('../../assets/acar-icons/phone.svg');
					}
					&.location {
						mask-image: url('../../assets/acar-icons/location.svg');
					}

					&.fax {
						mask-image: url('../../assets/acar-icons/fax.svg');
					}
				}
			}
		}
	}
}
