
:host {	
	
	/* Custom */
	@media only screen and (min-width : 600px) {

		.info-box {
			padding: unset;
		}
	}
	
	
	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px) {

		section {
			align-items: center;

			.info-box-layout {
				top: unset;
				display: unset;
				width: 50%;
				display: flex;
				justify-content: center;
				align-items: center;

				.info-box {
					flex: unset;
					transform: unset;
					font-size: 16px;

					.heading {
						display: none;
					}

					.contact-item {
						align-self: baseline;
					}

					&::after {
						mask-position: center;
						mask-size: contain;
					}
				}
			}
		}

		agm-map {
			position: absolute;
		}
		
	}

}
