
#topbar {
	position: fixed;
	top: 0;
	z-index: 2;
	width: 100vw;
	padding: 16px 0;
	box-sizing: border-box;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	
	#logo {
		width: 96px;
		height: 96px;
		background:
			url('../assets/logo.svg')
			no-repeat
			center/cover;
	}
}
