
/* iPhone 5 */ 
@media only screen and (min-width : 320px) {}


/* iPhone 6/7/8 */
@media only screen and (min-width : 375px) {}


/* Phones */ 
@media only screen and (min-width : 480px) {}


/* Custom */
@media only screen and (min-width : 600px) {}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	#topbar {
		position: absolute;
		background-color: #fff;
		box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);

		.container {
			justify-content: space-between;
		}

		#logo {
			width: 96px;
			height: 96px;
		}

		.menu-launcher {
			display: none;
		}
	}


}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}


@media only screen and (min-width : 1366px) {}
