
@import 'app.responsive.scss';

#topbar {
	position: fixed;
	top: 0;
	z-index: 2;
	width: 100%;
	padding: 16px 0;
	box-sizing: border-box;

	.container {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	#logo {
		width: 64px;
		height: 64px;
		border-radius: 50%;
		background:
			url('../assets/logo.svg')
			no-repeat
			center/cover;
		cursor: pointer;
		outline: none;
	}

	.menu-launcher {
		position: absolute;
		left: 16px;
		width: 24px;
		height: 24px;
		mask:
			url('../assets/acar-icons/menu.svg')
			no-repeat
			center/cover;
		background-color: #233f7d;
	}

	ukt-menu {
		display: none;
	}
}

#outlet-wrapper {
	background-color: rgba(35, 63, 125, 0.2);
	min-height: 100vh;
}
