
#topbar {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px;
	box-sizing: border-box;
	
	#logo {
		width: 96px;
		height: 96px;
		background:
			url('../assets/logo.svg')
			no-repeat
			center/cover;
	}
}
