
<div
  class="container"
  [class.push]="selectedProduct"
  [@enter]="isReady">

  <div
    *ngFor="let p of products"
    class="product"
    [class.filled]="isFilled(p)">

    <ng-container *ngIf="isFilled(p); else elseTemplate">

      <div
        class="hex"
        (click)="showOff($event, p, slot)"
        [style.backgroundImage]="p.bg">

        <div class="hoverlay">{{p.name}}</div>

        <img [src]="p.img" (load)="imageLoaded()">

      </div>

    </ng-container>

    <ng-template #elseTemplate>
      <div class="hex"></div>
    </ng-template>
      
  </div>

</div>

<div
  *ngIf="selectedProduct"
  class="detail-layer"
  [@showOff]="!!selectedProduct"
  (@showOff.start)="showStart(clone)">

  <div class="overlay" (click)="unselect()"></div>

  <div class="container">
    <div
      #clone
      class="product filled"
      id="clone">
      <div
        class="hex"
        [style.backgroundImage]="selectedProduct.p.bg">

          <div class="hoverlay">{{selectedProduct.p.name}}</div>

      </div>
    </div>
  
    <div class="content">
      <div
        class="heading"
        [innerHTML]="selectedProduct.p.name"
        (click)="unselect()">
      </div>
      <div class="scroll-area">
        <div class="data-row" *ngFor="let data of selectedProduct.p.data">
          <div class="chemical">{{data.chemical}}</div>
          <div class="description">{{data.desc}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="slot-area">
  <div class="slot" #slot></div>
</div>
