
:host {

	/* iPhone 5 */ 
	@media only screen and (min-width : 320px) {}
	
	
	/* iPhone 6/7/8 */
	@media only screen and (min-width : 375px) {}
	
	
	/* Phones */ 
	@media only screen and (min-width : 480px) {}
	
	
	/* Custom */
	@media only screen and (min-width : 600px) {}
	
	
	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px) {

		.detail-layer {

			.container {
				flex-direction: unset;
			}

			.content {
				position: relative;
				left: 50%;
				width: 50%;
				max-height: 60%;
				margin: auto 0;

				.scroll-area {
					max-height: unset;
				}
			}
		}

		.slot-area {
			top: 0;
			width: 50%;
			height: 100%;

			.slot {
				width: 315px;
				height: 348px;
			}
		}
		
	}
	
	
	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px) {}
	
	
	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px) {}
	
	
	@media only screen and (min-width : 1366px) {}
	
}
