
<div
  class="container"
  [class.push]="selectedProduct"
  [@enter]="isReady">

  <div
    *ngFor="let p of products"
    class="product"
    [class.filled]="isFilled(p)">

      <div
        *ngIf="isFilled(p)"
        class="hex"
        (click)="showOff($event, p, slot)"
        [style.backgroundImage]="p.bg">
        <img [src]="p.img" (load)="imageLoaded()">
      </div>
    </div>

</div>

<div
  *ngIf="selectedProduct"
  class="detail-layer"
  [@showOff]="!!selectedProduct"
  (@showOff.start)="showStart(clone)">

  <div class="overlay" (click)="unselect()"></div>

  <div class="container">
    <div
      #clone
      class="product filled"
      id="clone">
      <div
        class="hex"
        [style.backgroundImage]="selectedProduct.p.bg">
      </div>
    </div>
  
    <div class="content">{{selectedProduct.p.desc}}</div>
  </div>
</div>

<div class="slot-area">
  <div class="slot" #slot></div>
</div>
