
:host {
	display: block;
	// Fixed Tabs Solution
	height: 100%;
	overflow-y: auto;
}

section {
	position: relative;
	height: 100%;
	font-family: ubuntu;
}

.head {
	position: relative;
	z-index: 0;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		background:
			url('../../assets/acar-carousel/colorcotton.jpg')
			no-repeat
			center/cover;
	}

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0.9),
			rgba(255, 255, 255, 0.8),
			#d5dae6
		);
	}

	.heading {
		position: relative;
		top: 32px;
		font-size: 40px;
		font-weight: bold;
		color: #233f7dff;

		&::before {
			content: 'Servisler';
		}
	}

	nav {
		position: fixed;
		bottom: 0;
		left: 0;
		display: flex;
		overflow: hidden;
		box-shadow: 0 0 80px rgba(0, 0, 0, 0.5);
	
		.nav-item {
			padding: 16px 24px;
			background-color: rgba(35, 63, 125, 0.9);
			color: #fff;
			font-size: 10px;
			transition: font-weight 0.3s ease;
			cursor: pointer;
			outline: none;
	
			&.active {
				font-weight: bold;
			}
		}
	}
}

#service-outlet {
	padding: 0 0 96px 0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
}
