
acar-ui-carousel {
	background-color: none !important;

	.slide-item {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0;
		perspective: 800px;
		perspective-origin: right bottom;

		.backdrop,
		.container {
			opacity: 0;
		}

		.container {
			transition: opacity 0.3s ease;
		}

		.image {
			transform-origin: right bottom;
			transition: transform 1s ease;
		}

		&.deepPrev {}

		&.prev {
			z-index: 0;
			opacity: 1;
			transition: opacity 0s ease 1s;

			.backdrop {
				transition: opacity 0s ease .76s;
			}

			.image {
				transform:
					rotateZ(-15deg)
					translate3d(-150%, 100%, -400px)
			}
		}

		&.current {
			z-index: 1;
			opacity: 1;

			.backdrop {
				opacity: 1;
				transition: opacity 0.6s ease .16s;
			}

			.container {
				opacity: 1;
				transition: opacity 0.3s ease .7s;
			}
		}

		&.next {
			z-index: 0;
			opacity: 1;
			transition: opacity 0s ease 1s;

			.backdrop {
				transition: opacity 0s ease .76s;
			}

			.image {
				transform:
					rotateZ(15deg)
					translate3d(100%, -100%, 400px)
			}
		}
	}

	.slider__buttons {
		position: absolute;
		z-index: 2;
    right: calc(60% + 64px);
    bottom: 64px;
    display: flex;

    .slider__button {
        padding: 16px;
        background-color: #233f7d;
				cursor: pointer;
				transition: transform 0.3s ease;
				
				&.slider__button--prev {
					mask:
						url('./assets/acar-icons/arrow--prev.svg')
						no-repeat
						center/contain;
					
					&:hover {
						transform: translateX(-8px);
					}
				}

				&.slider__button--next {
					mask:
						url('./assets/acar-icons/arrow--next.svg')
						no-repeat
						center/contain;
					padding: 16px 24px;
					margin: 0 0 0 16px;

					&:hover {
						transform: translateX(8px);
					}
				}
    }
	}
}
