
#root {	
	
	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px) {

		.container {
			width: 736px;
			margin: 0 auto;
			padding: 0;
		}
	
		acar-ui-carousel {
	
			.slide-item {
				perspective-origin: right bottom;
	
				&.prev {
					transition: opacity 0s ease 1s;
	
					.image {
						transform:
							rotateZ(-15deg)
							translate3d(-150%, 100%, -400px);
					}
				}
	
				&.next {
					transition: opacity 0s ease 1s;
	
					.image {
						transform:
							rotateZ(15deg)
							translate3d(100%, -100%, 400px);
					}
				}

			}
	
			.slider__buttons {
				display: flex;
			}
		}
	
	
		// Services
		.acar-no-webp .head:before {
			background-image: url('../../assets/acar-carousel/colorcotton.jpg');
		}
		
		.acar-webp .head:before {
			background-image: url('../../assets/acar-carousel/colorcotton.webp');
		}

		.head {
			height: 400px;
		
			nav {
				position: absolute;
				bottom: 64px;
				left: unset;
				width: unset;
				border-radius: 8px;
	
				.nav-item {
					font-size: 14px;
				}
			}
		}
		
		#service-outlet {
	
			.image-text-row {
				flex-direction: unset;
	
				.image {
					width: 40%;
					height: 300px;
					margin: 0 64px 0 0;
				}
	
				.text {
					display: block;
	
					.boxed-items {
						justify-content: space-between;
	
						.boxed {
							margin: 0;
	
							&:nth-child(even) {
								transform: translateY(16px)
							}
						}
					}
				}
			}
		}
		
	}
	
	
	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px) {

		.container {
			width: 960px;
		}
	}

}

// Responsive Images
@media only screen and (min-width : 768px) {

	.acar-no-webp {
		ukt-kklab .image {
			background-image: url('../../assets/acar-carousel/spool-mobile-2x.jpg');
		}

		ukt-tech-support .image {
			background-image: url('../../assets/acar-carousel/colorcotton-mobile-2x.jpg');
		}

		ukt-ulab .image {
			background-image: url('../../assets/acar-carousel/colors-mobile-2x.jpg');
		}
	}

	.acar-webp {
		ukt-kklab .head:before {
			background-image: url('../../assets/acar-carousel/spool-mobile-2x.webp');
		}

		ukt-tech-support .image {
			background-image: url('../../assets/acar-carousel/colorcotton-mobile-2x.webp');
		}

		ukt-ulab .image {
			background-image: url('../../assets/acar-carousel/colors-mobile-2x.webp');
		}
	}
}
