
@import 'responsive.scss';
@import 'acar-ui-carousel.scss';


body {
	margin: 0;
}

a {
	text-decoration: none;
}

// TODO: Mobile-first please!
.container {
	width: 992px;
	margin: 0 auto;
}

img {
	position: absolute;
	z-index: -1;
	display: none;
	width: 0;
	height: 0;
}