
:host {
	display: flex;

	.menu-item-slot {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 16px;

		&:last-child {
			padding-right: 0;
		}

		.menu-item {
			font-family: ubuntu;
			// font-weight: bold;
			font-size: 14px;
			color: #233f7dad;
			transition:
				color 0.3s ease,
				font-weight 0.3s ease;
		
			&.active {
				color: #233f7dff;
				font-weight: bold;
			}

			&:hover {
				color: #233f7dff;
			}
		}

		&:hover .sub-menu-slot {
			pointer-events: visible;
		}

		.sub-menu-slot {
			position: absolute;
			align-self: end;
			margin: 16px 0 0;
			pointer-events: none;
		}

		.sub-menu {
			display: flex;
			flex-direction: column;
			width: max-content;
			padding: 16px 0;
			margin: 16px 0 0;
			border-radius: 8px;
			transform: translateY(-20%);
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
			background-color: rgba(255, 255, 255, 0.9);
			opacity: 0;
			transition:
				opacity 0.3s ease,
				transform 0.3s ease;

			.menu-item--sub {
				padding: 8px 16px;
				transition:
					color 0.3s ease,
					background-color 0.3s ease;

				&:hover, &.active {
					color: #fff;
					background-color: rgba(35, 63, 125, 0.9)
				}
			}
		}

		&:hover .sub-menu {
			opacity: 1;
			transform: translateY(0);
		}
	}
}
