
@import 'home.responsive.scss';

:host {
	position: relative;
	display: block;
	width: 100%;
	height: 100vh;
}

.backdrop {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-position: center;

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0.98),
			rgba(255, 255, 255, 0.8) 80%
		);
	}

	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(
			to bottom,
			rgba(35, 63, 125, 0.1),
			rgba(35, 63, 125, 0.15) 30%
		);
	}
}

.foreground {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
	height: 100%;
	padding: 96px 0 0 0;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;

	.container {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.content__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #233f7d;
		font-family: ubuntu;

		.heading {
			font-size: 40px;
			font-weight: bold;

			.heading__underlay {
				display: none;
			}
		}

		.description {
			font-size: 16px;
			color: rgba(35, 63, 125, 0.8);
			padding: 32px 32px 48px;
		}
	}

	.image {
		width: 60vw;
    height: 60vw;
		box-shadow: 0 20px 150px 20px rgba(0, 0, 0, 0.6);
		border-radius: 32px;
    background-size: cover;
    background-position: center;
	}
}
