
:host {	

	@media only screen and (min-width : 768px) {
	
		.backdrop {
			display: block;
		}
	
		.foreground {
			flex-direction: unset;
			padding: 128px 0 0 0;
			justify-content: center;
	
			.image {
				position: absolute;
				right: 0;
				width: 60%;
				height: calc(100% - 128px);
				border-radius: 32px 0 0 0;
				background-attachment: fixed;
				background-size: unset;
			}
	
			.container {
				justify-content: unset;
			}
	
			.content__inner {
				max-width: calc(50% - 10vw - 64px);
				align-items: unset;
			}
		}

	}

}
