
<acar-ui-carousel
  #carousel
  [@enter]="isReady"
  [slides]="slides"
  [custom]="custom"
  [infinite]="true"
  [interval]="5000"
  (swipeleft)="carousel.next()"
  (swiperight)="carousel.prev()">

    <ng-template #custom let-slide>

      <div
        class="backdrop"
        [style.backgroundImage]="'url('+slide.img+')'">
      </div>

      <div class="foreground">
        <div class="container">
          <div class="content__inner">
            <div class="heading">{{slide.heading}}</div>
            <div class="description">{{slide.desc}}</div>
            <div class="button">{{slide.button}}</div>
          </div>
        </div>

        <div
          class="image"
          [style.backgroundImage]="'url('+slide.img+')'">
        </div>
      </div>

    </ng-template>
  
</acar-ui-carousel>

<ng-container *ngFor="let s of slides">
  <img [src]="s.img" (load)="imageLoaded()">
</ng-container>
