
<acar-ui-carousel
  #carousel
  [@enter]="isReady"
  [slides]="slides"
  [custom]="custom"
  [fivePoint]="isMobile"
  [infinite]="true"
  (swipeleft)="carousel.next()"
  (swiperight)="carousel.prev()">

    <ng-template #custom let-slide>

      <div
        class="backdrop"
        [style.backgroundImage]="'url('+slide.img+')'">
      </div>

      <div class="foreground">
        <div class="container">
          <div class="content__inner">
            <div class="heading">{{slide.heading}}</div>
            <div class="description">{{slide.desc}}</div>
            <div
              class="button"
              [innerText]="slide.button"
              [routerLink]="slide.routerLink">
            </div>
          </div>
        </div>

        <div
          class="image"
          [style.backgroundImage]="'url(' + slide.optimal + ')'">
            <img [src]="slide.optimal">
        </div>
      </div>

      <!-- <picture>
        <source media="(min-width: 768px)" srcset="slide.img + '.webp'" type="image/webp">
        <source media="(min-width: 768px)" srcset="slide.img + '.jpg'"  type="image/jpg">
        <source [srcset]="slide.img + '-mobile-1x.webp'"    type="image/webp">
        <source [srcset]="slide.img + '-mobile-2x.webp 2x'" type="image/webp">
        <source [srcset]="slide.img + '-mobile-1x.jpg'"     type="image/jpg">
        <source [srcset]="slide.img + '-mobile-2x.jpg 2x'"  type="image/jpg">
        <img [src]="slide.img" (load)="imageLoaded()">
      </picture> -->

    </ng-template>
  
</acar-ui-carousel>
