<!--
<acar-ui-carousel
  #carousel
  [@enter]="isReady"
  [slides]="slides"
  [custom]="custom"
  [fivePoint]="isMobile"
  [infinite]="true"
  (swipeleft)="carousel.next()"
  (swiperight)="carousel.prev()">

    <ng-template #custom let-slide>

      <div
        class="backdrop"
        [style.backgroundImage]="'url(' + slide.optimal + ')'">
      </div>

      <div class="foreground">
        <div class="container">
          <div class="content__inner">
            <div class="heading">
              <div class="heading__underlay">{{slide.heading}}</div>
              {{slide.heading}}
            </div>
            <div class="description">{{slide.desc}}</div>
            <div
              class="button"
              [innerText]="slide.button"
              [routerLink]="slide.routerLink">
            </div>
          </div>
        </div>

        <div
          class="image"
          [style.backgroundImage]="'url(' + slide.optimal + ')'">
            <img [src]="slide.optimal" (load)="imageLoaded()">
        </div>
      </div>

    </ng-template>

</acar-ui-carousel> -->
