
:host {	

	@media only screen and (min-width : 768px) {
	
		.backdrop {
			display: block;
		}
	
		.foreground {
			flex-direction: unset;
			padding: 128px 0 0 0;
			justify-content: center;
	
			.image {
				position: absolute;
				right: 0;
				width: 60%;
				height: calc(100% - 128px);
				border-radius: 32px 0 0 0;
				background-attachment: fixed;
				background-size: unset;
			}
	
			.container {
				justify-content: unset;
			}
	
			.content__inner {
				max-width: calc(50% - 10vw - 64px);
				align-items: unset;

				.description {
					padding: 32px 0 48px;
				}
			}
		}

	}


	@media only screen and (min-width : 1600px) {

		.backdrop {
			background-repeat: no-repeat;
			background-size: cover;

			&::before {
				opacity: 0.6;
			}

			&::after {
				background-image:
					linear-gradient(to top, rgba(36, 63, 125, 0.7), transparent),
					linear-gradient(to left, #fff 15%, transparent 80%),
					linear-gradient(to right, #fff 0%, transparent 30%);
			}
		}

		.foreground {

			.image {
				left: 40%;
				width: 50%;
				height: 70%;
				border-radius: 32px;
				background-size: cover;
			}

			.container {

				.content__inner {

					.heading {
						display: flex;
						justify-content: center;
						align-items: center;
						align-self: flex-start;
						position: relative;
						z-index: 0;
						font-size: 44px;
						color: #fff;

						.heading__underlay {
							position: absolute;
							z-index: -1;
							display: block;
							width: max-content;
							font-size: 72px;
							opacity: 0.2;
							filter: blur(4px);
							transform: translateY(-16px);
						}
					}

					.description {
						font-size: 22px;
						color: #fff;
					}

				}
			}
		}
	}

}
