
<div class="container">
	<div class="image-text-row">
		<div class="image"></div>
		<div class="text">
				Kalite kontrol işlemleri, birinci kalite pazarlanabilir mal üretmek için gereklidir.
				Terbiye işlemleri açısından genellikle son ürünün aşağıdaki özellikleri test edilir.
	
				<div class="boxed-items">
					<div class="boxed">Renk</div>
					<div class="boxed">Düzgünlük</div>
					<div class="boxed">Haslık</div>
					<div class="boxed">Tutum Özellikleri</div>
				</div>
	
				Normal kalite kontrol işlemleri sonrasında, genellikle belli bir standardın altındaki ürünlerin yeniden işlenmesi veya ucuz fiyatla satılması gerekmektedir ki, her ikisi de maliyetlidir.
				<br/><br/>
				Bu nedenle, ürünün başarılı bir şekilde üretilmesinde verimli bir proses kontrolünün uygulanması çok daha elverişlidir.
				<br/><br/>
				Kalite kontrol işleminin asıl amacı; ikinci kalite malların elimine edilmesidir. Dolayısıyla, firmanın tüm teknik ve laboratuar personelinin önemli fonksiyonlarından biri yeterli prosesleri geliştirmektir
		</div>
	</div>
</div>
